Package: ml.festival.lockwatch10
Name: LockWatch
Depends: mobilesubstrate, ws.hbang.common
Conflicts: ml.festival.lockwatch
Depiction: https://repo.festival.ml/depiction/ml.festival.lockwatch10
Architecture: iphoneos-arm
Description: LockWatch
Maintainer: Sniper_GER
Author: Sniper_GER
Section: Tweaks
