<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ml.festival.lockwatch</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>ml.festival.lockwatch</string>
			<key>default</key>
			<string>regular</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Watch Size</string>
			<key>key</key>
			<string>watchSize</string>
			<key>validValues</key>
			<array>
				<string>compact</string>
				<string>regular</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>38 mm</string>
				<string>42 mm</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Installed Watch Faces</string>
			<key>detail</key>
			<string>LWPInstalledFacesController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart SpringBoard</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>
	</array>
	<key>title</key>
	<string>LockWatch</string>
</dict>
</plist>
