<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>useBorderImage</key>
		<true/>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,370.5}</string>
		</dict>
	</dict>
</array>
</plist>
