<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>style</string>
		<key>options</key>
		<array>
			<string>0</string>
			<string>1</string>
		</array>
		<key>frame</key>
		<string>{{14,53},{284,284}}</string>
		<key>cornerRadius</key>
		<integer>142</integer>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,354.5}</string>
			<key>text</key>
			<string>STYLE</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>frame</key>
		<string>{{0,39},{312,312}}</string>
		<key>cornerRadius</key>
		<integer>156</integer>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,371.5}</string>
			<key>text</key>
			<string>COLOR</string>
		</dict>
	</dict>
</array>
</plist>
