<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>detail</string>
		<key>useBorderImage</key>
		<true/>
		<key>options</key>
		<array>
			<array>
				<string>utility_detail_1</string>
			</array>
			<array>
				<string>utility_detail_1</string>
				<string>utility_detail_2_inner</string>
			</array>
			<array>
				<string>utility_detail_1</string>
				<string>utility_detail_3_inner</string>
			</array>
			<array>
				<string>utility_detail_4</string>
				<string>utility_detail_3_inner</string>
			</array>
		</array>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,370.5}</string>
			<key>text</key>
			<string>STYLE</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>frame</key>
		<string>{{126,150},{60,221}}</string>
		<key>cornerRadius</key>
		<integer>30</integer>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,132.5}</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>complications</string>
		<key>options</key>
		<array>
			<dict>
				<key>position</key>
				<string>date</string>
				<key>frame</key>
				<string>{{167,167},{101,58}}</string>
				<key>cornerRadius</key>
				<integer>8</integer>
				<key>label</key>
				<dict>
					<key>center</key>
					<string>{156,149.5}</string>
					<key>text</key>
					<string>DATE</string>
					<key>align</key>
					<string>center</string>
				</dict>
				<key>options</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
