<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>detail</string>
		<key>options</key>
		<array>
			<array>
				<string>utility_detail_1</string>
			</array>
			<array>
				<string>utility_detail_1</string>
				<string>utility_detail_2_inner</string>
			</array>
			<array>
				<string>utility_detail_1</string>
				<string>utility_detail_3_inner</string>
			</array>
			<array>
				<string>utility_detail_4</string>
				<string>utility_detail_3_inner</string>
			</array>
		</array>
	</dict>
</array>
</plist>
