<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>detail</string>
		<key>useBorderImage</key>
		<true/>
		<key>options</key>
		<array>
			<array>
				<string>utility_detail_1</string>
			</array>
			<array>
				<string>utility_detail_1</string>
				<string>utility_detail_2_inner</string>
			</array>
			<array>
				<string>utility_detail_1</string>
				<string>utility_detail_3_inner</string>
			</array>
			<array>
				<string>utility_detail_4</string>
				<string>utility_detail_3_inner</string>
			</array>
		</array>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,370.5}</string>
			<key>text</key>
			<string>STYLE</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>color</string>
		<key>frame</key>
		<string>{{126,150},{60,221}}</string>
		<key>cornerRadius</key>
		<integer>30</integer>
		<key>label</key>
		<dict>
			<key>center</key>
			<string>{156,132.5}</string>
		</dict>
	</dict>
</array>
</plist>
